doctype html
html
    head
        title 表单测试 - Demeter CSS UI Set
        include ../head
    body
        include ../menu
        .panel.container.wrapper
            .panel-heading: h3 表单测试
            .panel-body
                form
                    fieldset
                        legend 横排表单
                        .form-control
                            label.label 账号
                            input.input.input-1-5(type="text", placeholder="请输入账号")
                            label.label 密码
                            input.input.input-1-5(type="password", placeholder="请输入密码")
                            input#h-remember-me(type="checkbox")
                            label(for="h-remember-me") 记住我
                            button.input.btn.btn-danger 立即登录
                    mixin fieldset(classes_extend, legend, id_suffix)
                        fieldset(class=classes_extend)
                            legend=legend
                            .form-control
                                label.label 账号
                                input.input.input-1-3.input-addon(type="text", placeholder="请输入账号")
                                span.addon 模糊匹配
                            .form-control
                                label.label 密码
                                input.input.input-1-3(type="password", placeholder="请输入密码")
                            .form-control
                                label.label 密码确认
                                input.input.input-1-3(type="password", placeholder="请再次输入密码")

                            .form-control
                                label.label 你的性别
                                input(type="radio", name="sex_" + id_suffix, id="sex_radio_m_" + id_suffix)
                                label(for="sex_radio_m_" + id_suffix) 男
                                input(type="radio", name="sex_" + id_suffix, id="sex_radio_f_" + id_suffix)
                                label(for="sex_radio_f_" + id_suffix) 女
                            .form-control
                                label.label 你的兴趣爱好
                                select.input.input-1-3
                                    option 足球
                                    option 电影
                                    option 玩游戏
                                    option 旅游
                            .form-control
                                label.label 对我们有啥建议？
                                textarea.input.input-1-3(type="password", placeholder="输入你的建议")
                            .form-control
                                label.label
                                input(type="checkbox", id="agree_" + id_suffix)
                                label(for="agree_" + id_suffix) 同意注册协议
                                |&nbsp;&nbsp;
                                a(href="#") 查看协议
                            .form-action
                                button.btn.btn-primary(type="submit") 注册
                                button.btn.btn-danger(type="reset") 重置
                    +fieldset('label-block', '竖排表单', 'v1')
                    +fieldset('label-small', '竖排对齐表单', 'v2')
                    +fieldset('label-small label-left', '竖排左对齐表单', 'v3')



        .panel.wrapper
            .panel-heading: h3 响应式表单
            .panel-body
                p 在支持媒体查询的浏览器中试试看调整浏览器的宽度。