doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv="content-type", content="text/html; charset=utf-8")
        title 按钮 - Demeter CSS UI Set
        link(rel="stylesheet", href="../css/base.css")
        link(rel="stylesheet", href="../css/tests.css")
        link(rel="stylesheet", href="../css/buttons-core.css")
        link(rel="stylesheet", href="../css/buttons.css")
        link(rel="stylesheet", href="../css/menus.css")
        link(rel="stylesheet", href="../css/menus-r.css")
        link(rel="stylesheet", href="../css/prettify.css")
        script(src="http://g.tbcdn.cn/kissy/k/1.4.2/seed.js")
        script(src="../js/demeter-demo.js")
    body#page-buttons
        include ../menu
        .container.wrapper
            h1 菜单测试
            h2 横排菜单
            ul.menu.menu-horizontal.menu-red
                li.menu-item.active
                    a(href="#") 菜单啊
                li.menu-item
                    a(href="#") 菜单啊