doctype html
html
    head
        title 排版演示 - Demeter CSS UI Set
        include ../head
    body#page-buttons
        include ../menu
        .panel.wrapper.container
            .panel-heading: h3 排版演示
            .panel-body
                table.table
                    tr
                        td: h1 H1我是标题啦啦啦啦
                        td ~33px
                    tr
                        td: h2 H2我是标题啦啦啦啦
                        td ~27px
                    tr
                        td: h3 H3我是标题啦啦啦啦
                        td ~22px
                    tr
                        td: h4 H4我是标题啦啦啦啦
                        td ~17px
                    tr
                        td: h5 H5我是标题啦啦啦啦
                        td ~14px
                    tr
                        td: h6 H6我是标题啦啦啦啦
                        td ~12px