doctype html
html
    head
        title 排版演示 - Demeter CSS UI Set
        include ../head
        style.
            .panel {
                margin-top:20px;
            }
    body#page-buttons
        include ../menu
        h1.wrapper 排版演示
        .panel.wrapper.container
            .panel-heading: h3 标题文字
            .panel-body
                table.table
                    tr
                        td: h1 H1我是标题啦啦啦啦
                            small 次要的文字
                        td ~33px
                    tr
                        td: h2 H2我是标题啦啦啦啦
                            small 次要的文字
                        td ~27px
                    tr
                        td: h3 H3我是标题啦啦啦啦
                            small 次要的文字
                        td ~22px
                    tr
                        td: h4 H4我是标题啦啦啦啦
                            small 次要的文字
                        td ~17px
                    tr
                        td
                            h5 H5我是标题啦啦啦啦
                                small 次要的文字
                        td ~14px
                    tr
                        td: h6 H6我是标题啦啦啦啦
                            small 次要的文字
                        td ~12px
        .panel.wrapper
            .panel-heading: h2 段落文本
            .panel-body
                //p 旧约某种意义上说是被用来证实新约的，<u>用来证明新约的神就是犹太教圣经《塔纳赫》预言的救世主。</u>《希伯来圣经》记载的是从神创造世界，人类犯罪，犹太人的历史及关于世界的预言。《新约》记载耶稣基督和其门徒的言行与早期基督教的事件纪录，为人类洗罪，使徒书信及关于世界末日的预言。《新约全书》是基督教本身的经典，包括记载耶稣言行的“福音书”、叙述早期教会情况的《使徒行传》、使徒们的“书信”和《启示录》。基督教的圣经由《旧约》和《新约》两部分所构成的，而其《旧约全书》与《希伯来圣经》内容大致相同，不过天主教版本就多了数篇《塔纳赫》跟基督教新教《旧约》都没有的数篇经卷，那些经卷就是所谓的「次经」，《新约全书》记载耶稣基督和其门徒的言行与早期基督教的事件纪录。据统计，共有大约一万四千多种不同语言版本的圣经，尤其是「希伯来圣经」部分，而基督教新约部分，就有大约五千三百种不同语言版本。在众古书中可说是现在世界上最多不同语言翻译版本的书。旧约某种意义上说是被用来证实新约的，用来证明新约的神就是犹太教圣经《塔纳赫》预言的救世主。《希伯来圣经》记载的是从神创造世界，人类犯罪，犹太人的历史及关于世界的预言。《新约》记载耶稣基督和其门徒的言行与早期基督教的事件纪录，为人类洗罪，使徒书信及关于世界末日的预言。《新约全书》是基督教本身的经典，包括记载耶稣言行的“福音书”、叙述早期教会情况的《使徒行传》、使徒们的“书信”和《启示录》。基督教的圣经由《旧约》和《新约》两部分所构成的，而其《旧约全书》与《希伯来圣经》内容大致相同，不过天主教版本就多了数篇《塔纳赫》跟基督教新教《旧约》都没有的数篇经卷，那些经卷就是所谓的「次经」，《新约全书》记载耶稣基督和其门徒的言行与早期基督教的事件纪录。据统计，共有大约一万四千多种不同语言版本的圣经，尤其是「希伯来圣经」部分，而基督教新约部分，就有大约五千三百种不同语言版本。在众古书中可说是现在世界上最多不同语言翻译版本的书。
                //p 其中旧约完成的年代是：西元前四千多年前（参考大卫·鲍森讲道集）到前四百年之间；而新约完成的年代是：西元三十几年到九十六之间；换句话说，旧约圣经最早的著作《出埃及记》，至今已经有三千五百年的历史。而新约圣经最早的著作，至今已经一千九百年的历史。直到目前为止，圣经仍然是全世界最受欢迎、销售量最多、影响力最大的书。可见上帝的话语是永不过时的。根据世界联合圣经公会的统计，圣经自从出版直到今天，发行量累积已超过四十亿本。全世界的销售数量，平均每年依然超过三千万本以上。这样的销售量，绝对是全世界最畅销的书。
                //p 【基督教新约】　<small>在新约希腊文耶经</small>，grapho（当做动词使用）被解作「圣经」约有九十次；而以名词出现（graphe）也有五十一次，差不多全部都用来指白溊经。新约有几种对经卷不同的称呼：有指全本耶经（如太二十一42，二十二29，二十六54；路二十四27、32、45；约五39；罗十五4；彼后三16），有指耶经中的个别部分（可十二10，十五28；约十三18，十九24、36；徒一16，八35；罗十一2；提后三16），有用作「神的话语」的同义词（如罗四3，九17，十11；加四30，提前五18）。它们也被称为「圣经」（Holy Scriptures）（罗一2）。提摩太后书三章15节用了另一个希腊文hiera grammata（神圣的著作）。提摩太后书三章16节强调，这些著作不是平凡的著作，而是「神的所呼气默示的」，他暗示他自己具有权威，在教训上没有错误而说。
                //blockquote 我通过其他渠道得到的数据是：微博的五亿用户中，大约有 80% 都是从来不登录的，日活跃用户从 2013 年年中的 6000 万跌落到现在的 2500 万。这个数据如果是真的，则更惨一些。(所以，互联网络信息中心提到的数据即使包括腾讯微博，新浪微博的用户下降也是相当大的。)
                h2 马航失联：政治因素拖慢搜救效率？
                p: blockquote 马航MH370仍旧没有消息，各国搜救力量也在相关海域紧张的工作着。但搜救工作往往牵涉各种政治以及军事因素，并不仅有“人道主义”那么简单，而救援的效率也自然会被各种繁杂的手续与交涉拖慢。
                h3 处置海上搜救难度很大，军方力量一直是搜救中坚
                p 根据《博客天下》杂志日前对曾参与泰坦尼克号残骸发掘及“消失”的法航447号航班黑匣子定位的美国伍兹霍尔海洋研究所的苏珊·艾福瑞主席及大卫·加洛教授的专访：在美国有一种说法，在大海里找一驾飞机，就像在“干草堆”里找一根针。而由于海洋中水流和风向的不段变化，就连确定“干草堆”工作（确定可能搜寻范围）都是极其专业且困难重重的。（伍兹霍尔海洋研究所是专注于海洋科学与海洋工程的非盈利私人研究和教学机构。成立于1930年，是美国最大的独立海洋学研究所。）
                p 正因为难度很大，海上一旦出现事故需要搜救，仅仅装备普通雷达、声呐和望远镜的民用船只的搜救力量就会显得实力不足。相比之下，侦察机、巡逻机载有多种探测设备，对海上目标的搜索能力很强。军舰在搜救时同样有装备上优势，不仅速度远胜过民用船只，探测能力也更强大。比如中国军方此次派出的“昆仑山”登陆舰，可搭载高速气垫艇与大型直升机，具备强大的通讯指挥系统，还有医疗设施，救援效率远高于一般舰船。
                p: img(src="http://p.qpic.cn/ninja/0/ninja1394499591/0")
                p 而根据法航447空难事后处置经验，法国军方在客机失联后不仅出动了远程巡逻机、预警机和普通救援船，还出动了一艘携带有2艘小型潜艇的潜艇救援舰和一艘红宝石级攻击核潜艇。出动潜艇救援舰、攻击核潜艇的目的是希望利用舰艇上的先进声纳设备，尽快确定失事客机残骸的海底位置，以打捞起更多遇难者遗体以及客机的黑匣子。尽管当时未能在第一时间有所寻获，但法国方面在2年后的第四轮搜索中得以发现海底客机残骸也是依靠3艘小型无人潜艇。
                h3 正因为搜救常有军方参与，使得人道主义难成唯一考量因素
                p 如前文所述，对于重大事故的搜寻和救援，军方的力量不可或缺。再加之由于财力和能力所限，搜救工作还往往需要各国协同，这就牵涉到别国具有强大侦查能力的军机和军舰进入领海或专属经济区域，从而令搜救工作变得复杂：
                h3 国际海事搜救由哪国负责主导有公约可循，参与国要“守规矩”
                p 为了规避纠纷，在国际海事搜救之中，搜救责任并不是根据搜救能力和专业程度进行考量，而是依据1979年国际海事组织通过的《国际搜寻救助公约》。该公约的宗旨是：为对海上遇难者进行迅速有效的救助，沿岸国家在本国责任海域内负有搜救责任；同时为开展恰当的搜救业务，各有关国家间应就海难救助活动进行协调，建立世界性海难救助体制。
                p 《公约》还对救援的责任区划进行了详细的区分。此次马航航班失联的疑似区域在马来西亚和越南之间，属于马来西亚与越南的海上搜救责任区重合位置，所以，马来西亚和越南都有负担有搜救责任。另一方面，由于出事的航班是马来西亚航空公司的飞机，所以，多国联合搜救以马来西亚为主体，进行协调组织。
                p 对此，白宫发言人卡尼也明确给出了肯定。在不久前进行的记者会上，卡尼就表示，虽然马航事件的国际协助涉及到很多国家，美国也参与了调查和搜救。但管辖权并不存在争议，调查以马来西亚为主导，美国是协助者。而中方的表态也类似，中国驻马来西亚大使黄惠康也否认了“中国将全面接管搜救工作”的消息，同时强调了中国的协助角色。
                p 需要补充的是，《国际搜寻救助公约》主要针对搜救责任，而对于事故原因的调查则要遵守国际民航组织的规范(ICAO)。而美国联邦国家运输安全委员会(TSB)同样指出，发现失事的飞机后，也将依据规范决定主导调查国家，现阶段美国只是协助调查。
                h3 在跨国搜救工作中，通过救援彰显军事实力是被默认的“潜规则”
                p 《国际搜寻救助公约》对搜救主导国做出了明确的规定，但救助工作有哪些协助国，协助国派遣怎样的搜救力量则<u>没有明确指明</u>。其次，紧急应急救援，是少数能让军队应急处置能力发挥的情景，也自然备受重视。再加之搜救工作的难度和时效性要求，及时快速的派遣有效搜救力量也成了一种软性彰显军事实力以及区域控制力的手段。
                p 在本次马航失联的搜救中，澳大利亚总理阿博特就第一时间致电马来西亚总理，经同意后派出两架皇家空军飞机参加马航失联客机的搜寻和救援行动。虽然在政治学者、澳大利亚国防军事学院(Australian Defence Force Academy)名誉教授卡尔·泰勒(Carl Thayer)看来，在搜救失联飞机方面，人道主义压倒一切。但另一方面，这也彰显了澳大利亚有能力对南海区域展开实际的“军事行动”。
                p 而通过救援展现军事能力，更典型的例子是在去年底，日本支援受超强台风“海燕”侵袭菲律宾。在驰援菲律宾的外国团队中，美国阵容最强大，日本紧随其后。美军方表示，救灾高峰期，美国快速调配军力，一度有13艘美国军舰及近8000名美军参与赈灾——包括华盛顿号航母、MV-22“鱼鹰”运输机等，主要运送灾民急需的食物和饮用水。而日本则在救灾中，完成了二战后最大规模的海外派兵。更值得玩味的是，根据日媒披露，日本派兵救援的主张，是通过驻马尼拉武官直接向菲总统阿基诺提出的。阿基诺本希望日本提供更多物资和资金援助，而让南亚邻国提供人力支持，但日本坚持“加钱又增人”，且把“增加人手”当成救援前提。日本时事通讯社称，日本还首次将情报卫星收集的数据，制成地图，提供给菲。对此，路透社分析认为，派兵救灾，是日本战后军事力量在海外活动又一次“重大突破”，显示了其日渐增长的军事实力。
                h3 区域的地缘政治因素对救援工作的实施也有强大的影响力
                p 此次马航MH370的失联地点虽然仍处南海，但并不在有争议的区域。而这样的地缘政治因素也成了搜救工作的“双刃剑”。一方面，由于距离大片争议海域不远，而争议海域里中国不方便建造港口和机场，所以在赶赴失联区域时，中国的搜救队伍需要长途跋涉。再加上，和越南的领海争端，以及救援军舰要途径大片争议海域。如果中国派出大量军舰救援，所需协调工作并不简单。但另一方面，争议海域的相关各国军事活动频繁，也使得大量的有生力量能够第一时间赶赴救援。美国此次派出的“平克尼号”和“基德号”这两艘装备有直升机的驱逐舰能够快速加入救援队伍，主要原因就是他们之前都在南海国际水域执行训练和海事安全任务。
                p 美国此次派出参与救援的“平克尼号”驱逐舰
                p: img('src'="http://p.qpic.cn/ninja/0/ninja1394499629/0")
                p 而对于这样戏剧化的场面，《华盛顿邮报》和《华尔街日报》也给出了不同的解读：前者认为失联区域处于非争议海域，给予了各方充分合作的机会；而后者认为，由于附近争议海域的存在，对失联飞机的搜救使得其迅速成为全球最军事化的水域之一，而之前为了探测这片区域的战斗机、导弹、潜水艇等威胁，一些国家砸下了数亿美元的军备开支也被快速的转化为救援装备。
                p 总体来看，虽然在国际救援下，人道主义仍是第一要务，但地缘政治因素也是绕不过去的坎。
                p.clearfix
        .panel.wrapper
            .panel-heading: h3 文本对齐
            .panel-body
                h4.text-left .text-left
                h4.text-center .text-center
                h4.text-right    .text-right
        .panel.wrapper
            .panel-heading: h3 代码
                                small (非默认包含，针对<a href="https://code.google.com/p/google-code-prettify/" target="_blank">prettify</a>的自定义的样式，来自<a href="http://laravel.com" target="_blank">laravel</a>)
            .panel-body
                pre.
                   &lt;?php
                       function sayHello() {
                            echo 'Hello, demeter!';
                       }
                       Route::get('users', function() {
                           if($a >= 0) {
                               $b = 'hello';
                           }
                           return 'Users!';
                       });
                pre.
                    SELECT * FROM `test_table` WHERE `a` = 'b';