/*csslint outline-none:false*/

.btn {
    font-family: inherit;
    font-size: 100%;
    /**font-size: 90%; *//*IE 6/7 - To reduce IE's oversized button text*/
    *overflow: visible; /*IE 6/7 - Because of IE's overly large left/right padding on buttons */
    padding: 0.8em 1.3em;
    /*color: #444; *//* rgba not supported (IE 8) */
    /*color: rgba(0, 0, 0, 0.80); *//* rgba supported */
    /**color: #444; *//* IE 6 & 7 */
    color: inherit;
    border: 1px solid #999;  /*IE 6/7/8*/
    border: none rgba(0, 0, 0, 0);  /*IE9 + everything else*/
    background-color: #E6E6E6;
    text-decoration: none;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 5px;
    color:#656d78;

}
/* icon of button */
.btn i {
    position: relative;
    top: 1px;
    margin-right: 5px;
}
/*a.btn {*/
    /**font-size:100%;*/
/*}*/
a.btn {
    *padding: 0.99em 1.3em 0.93em 1.3em;
    *vertical-align: text-bottom;
    color:#656d78;
}

.btn-hover,
.btn:hover,
.btn:focus {
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000',GradientType=0);*/
    /*background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0,0,0, 0.05)), to(rgba(0,0,0, 0.10)));*/
    /*background-image: -webkit-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));*/
    /*background-image: -moz-linear-gradient(top, rgba(0,0,0, 0.05) 0%, rgba(0,0,0, 0.10));*/
    /*background-image: -o-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));*/
    /*background-image: linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));*/
    /*border: none;*/
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    filter: alpha(opacity=80);
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000',GradientType=0);*/

    -khtml-opacity: 0.80;
    -moz-opacity: 0.80;
    opacity: 0.80;
    /*cursor: not-allowed;*/
    box-shadow: none;
}
.btn:focus {
    outline: 0;
}
.btn-active,
.btn:active {
    box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset, 0 0 6px rgba(0,0,0, 0.20) inset;
}

.btn[disabled],
.btn-disabled,
.btn-disabled:hover,
.btn-disabled:focus,
.btn-disabled:active {
    border: none;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    filter: alpha(opacity=40);
    -khtml-opacity: 0.40;
    -moz-opacity: 0.40;
    opacity: 0.40;
    cursor: not-allowed;
    box-shadow: none;
}

a.btn, input.btn, button.btn {
    border: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Firefox: Get rid of the inner focus border */
.btn::-moz-focus-inner{
    padding: 0;
    border: 0;
}

.btn-primary,
.btn-selected,
a.btn-primary,
a.btn-selected {
    background-color: #1975c3;
    color: #fff;
}

/* 不同颜色的按钮 */
a.btn-danger, a.btn-success, a.btn-warning, a.btn-info,a.btn-purple, a.btn-dake {
    color: white;
}
.btn-danger{ background-color:#ed5567; color:#fff; }
.btn-success{background: #5cb85c; color: white;}
.btn-warning{background-color:#ff6f3d;border:0;color:#fff}
.btn-info { background-color: #5bc0de; color: white;}
.btn-link { background: none; border: 0;  }
.btn-purple { background: #967adc; color: white; }
.btn-dake {background: #656d78;color: white;}
.btn-dakeLight {background: #ccd0d8; color:#656d78; }


/* 不同尺寸的按钮 */
.btn-xsmall {
    font-size: 70%;
}

.btn-small {
    font-size: 85%;
    border-radius: 3px;
}

.btn-large {
    font-size: 110%;
    border-radius: 4px;
}

.btn-xlarge {
    font-size: 125%;
    border-radius: 4px;
}
/* 块级按钮 */
.btn-block {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-top: 2px;
}