@charset "utf-8";
@import "normalize";

a {
  color: #1975c3;
}
.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.pull-left {
  float:left;
}
.pull-center {
  margin-left:auto;
  margin-right:auto;
}
.pull-right {
  float:right;
}

img {
  max-width: 100%;
}