@charset "utf-8";

.breadcrumb {
  padding: 8px 15px;
  margin: auto;
  margin-bottom: 20px;
  font-size:1.1em;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 4px;
  li {
    display: inline-block;
    *display: inline;
    padding: 0 5px;
    color: #cccccc;
    line-height: 2em;
    content: "/\00a0";
  }
  .active {
    color: #999999;
  }
}