@charset "utf-8";

/* 不同颜色的按钮 - button with different colors */

@mixin btn-bordered($background, $text) {
  background: $text;
  color:$background;
  border:1px solid $background;
  &:hover {
    background: $background;
    color: $text;
  }
}
@mixin btn-colorful($background, $text) {
  background-color: $background;
  color: $text;
  border: 1px solid $background;
  &.btn-bordered {
    @include btn-bordered($background, $text);

  }

}
.btn-primary,
.btn-selected {
  @include btn-colorful($color-primary, $color-primary-text);
}
.btn-danger {
  @include btn-colorful($color-danger, $color-danger-text);
}

.btn-success {
  @include btn-colorful($color-success, $color-success-text);
}
.btn-info {
  @include btn-colorful($color-info, $color-info-text);
}
.btn-warning {
  @include btn-colorful($color-warning, $color-warning-text);
}
.btn-dake {
  @include btn-colorful($color-dake, $color-danger-text);
}
.btn-dakeLight {
  @include btn-colorful($color-dakeLight, $color-dakeLight-text);
}
.btn-purple {
  @include btn-colorful($color-purple, $color-purple-text);
}


.btn-white {
  @include btn-colorful(#fff, inherit);
}
.btn-link {
  background: none;
  border: 1px solid #fff;
}


// 不同尺寸的按钮 -
.btn-xxsmall, .btn-xxs {
  height: 18px;
  padding-left: 6px;
  padding-right: 6px;

  font-size: 12px;
  line-height: 18px;
}

.btn-small, .btn-s {
  height: 32px;
  line-height: 32px;
}

.btn-xsmall, .btn-xs {
  height: 26px;
  line-height: 26px;
  font-size: 12px;
}

.btn-large, .btn-l {
  height: 46px;
  line-height: 46px;
  font-size: 14px;
}

.btn-xlarge, .btn-xl {
  height: 52px;
  line-height: 52px;
  font-size: 16px;
}

/* 块级按钮*/
.btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  margin-top: 2px;
}

.btn-last {
  margin-right: 0;
}


