//$color-primary:#1975c3;
//$color-danger:#ed5567;
//$color-success:#33b07d;
//$color-info:#02a4c6;
//$color-warning:#ff6f3d;
//$color-dake:#656d78;
//$color-dakeLight:#ccd0d8;
//$color-purple:#967adc;

.color-primary {
  color: $color-primary;
}

.color-danger {
  color: $color-danger;
}

.color-success {
  color: $color-success;
}

.color-info {
  color: $color-info;
}

.color-warning {
  color: $color-warning;
}

.color-dake {
  color: $color-dake;
}

.color-dakeLight {
  color: $color-dakeLight;
}

.color-purple {
  color: $color-purple;
}