@charset "UTF-8";
.btn {
  display: inline-block;
  *display: inline;
  border: none;
  /* for IE 6/7 修复a标签的高度问题 - fixed high of tag 'a' */
  *zoom: 1;
  /* for IE 6/7 IE对Button的左右内边距设置的过大 */
  *overflow: visible;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 1em;
  padding: 0 1.5em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  text-decoration: none;
  text-align: center;
  font-size: 12px;
  color: #656d78;
  background-color: #e6e6e6; }
  .btn.btn-hover, .btn:hover, .btn:focus {
    background-image: none;
    -khtml-opacity: 0.8;
    -moz-opacity: 0.8;
    opacity: 0.8;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    filter: alpha(opacity=80);
    box-shadow: none;
    outline: 0; }
  .btn i {
    position: relative;
    *top: 1px;
    margin-right: 5px; }

/* 按钮被禁用，不支持IE6 - disabled button, incompatible IE6*/
.btn[disabled],
.btn-disabled,
.btn-disabled:hover,
.btn-disabled:focus,
.btn-disabled:active {
  border: none;
  background-image: none;
  -khtml-opacity: 0.4;
  -moz-opacity: 0.4;
  opacity: 0.4;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  filter: alpha(opacity=40);
  cursor: not-allowed;
  box-shadow: none; }

/* 不同颜色的按钮 - button with different colors */
.btn-primary,
.btn-selected {
  background-color: #1975c3;
  color: #fff; }

.btn-danger {
  background-color: #ed5567;
  color: #fff; }

.btn-success {
  background: #33b07d;
  color: white; }

.btn-white {
  background: #fff;
  color: inherit; }

.btn-warning {
  background-color: #ff6f3d;
  border: 0;
  color: #fff; }

.btn-info {
  background-color: #02a4c6;
  color: white; }

.btn-link {
  background: none;
  border: 0; }

.btn-purple {
  background: #967adc;
  color: white; }

.btn-dake {
  background: #656d78;
  color: white; }

.btn-dakeLight {
  background: #ccd0d8;
  color: #656d78; }

.btn-xxsmall {
  height: 18px;
  padding-left: 6px;
  padding-right: 6px;
  font-size: 12px;
  line-height: 18px; }

.btn-small {
  height: 34px;
  line-height: 34px; }

.btn-xsmall {
  height: 26px;
  line-height: 26px; }

.btn-large {
  height: 46px;
  line-height: 46px;
  font-size: 14px; }

.btn-xlarge {
  height: 52px;
  line-height: 52px;
  font-size: 16px; }

/* 块级按钮 - block level button */
.btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  margin-top: 2px; }
