.pagination {
    margin: 1em 0;
}

.pagination a, .pagination span{
    display: inline-block;
    height: 1.7em;
    padding: 5px 10px;
    margin: 0;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: #e6e9ed;
    line-height: 1.7em;
    vertical-align: middle;
    float: left;
}
.pagination a {
    color: #656d78;
    /*font-size:12px;*/
}


.pagination .current {
    background: #1975c3;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: #1975c3;
    pointer-events: none;
    color: #fff;
}

.pagination .next {
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-right-radius: 5px;
}

.pagination .prev {
    border-left-width: 1px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-left-radius: 5px;
}
.pagination a:hover {
    background: #f5f7fa;
    text-decoration: none;
}

.pagination .ellipsis {
    pointer-events: none;
}