@media   (max-width: 979px) {
   .panel {
     &.panel-margin-left {
       margin-left:auto;
     }
     &.panel-margin-right {
       margin-right: auto;
     }
   }
   .panel-heading {
     margin-left:5px;
   }
   .panel-body {
     padding:10px;
   }

}