.container {
  margin: 3em;
  background: white;
  border-radius: 5px;
  box-sizing: border-box; }

.wrapper {
  width: 90%;
  margin-left: auto;
  margin-right: auto; }

#tests_nav {
  background: #2d3e50; }

#page-buttons .btn {
  margin: 0.5em; }

.menu.menu-red .menu-item a:hover, .menu.menu-red .active a {
  color: #dd4250; }
.menu.menu-bg-blue {
  background: #1975c3;
  border-radius: 4px; }
  .menu.menu-bg-blue .menu-item a {
    color: white;
    border-radius: 3px; }
  .menu.menu-bg-blue .menu-item a:hover, .menu.menu-bg-blue .active a {
    background: #4790cf;
    color: white; }
.menu.menu-bg-red {
  background: #ed5567;
  border-radius: 4px; }
  .menu.menu-bg-red .menu-item a {
    color: white;
    line-height: 1.6; }
  .menu.menu-bg-red .menu-item a:hover, .menu.menu-bg-red .active a {
    background: #f17a88;
    color: white; }
.menu.menu-blue {
  border: none; }
  .menu.menu-blue a {
    border-radius: 3px; }
  .menu.menu-blue .menu-item a:hover {
    background: #eee; }
  .menu.menu-blue .active a {
    background: #428bca;
    /*background: none;*/
    color: white; }
