doctype html
html
    head

        title 栅格测试 - Demeter CSS UI set
        include head
    body#page-grids
        include menu
        .panel.container.wrapper
            .panel-heading: h3 栅格测试
            .panel-body
                .dmt-g-r
                    .dmt-u-1
                        .tests-grid-content .dmt-u-1
                .dmt-g-r
                    .dmt-u-1-2
                        .tests-grid-content .dmt-u-1-2
                    .dmt-u-1-2
                        .tests-grid-content .dmt-u-1-2
                .dmt-g-r
                    .dmt-u-1-3
                        .tests-grid-content .dmt-u-1-3
                    .dmt-u-2-3
                        .tests-grid-content .dmt-u-2-3

                .dmt-g-r
                    .dmt-u-1-4
                        .tests-grid-content .dmt-u-1-4
                    .dmt-u-3-4
                        .tests-grid-content .dmt-u-3-4
                .dmt-g-r
                    .dmt-u-1-5
                        .tests-grid-content .dmt-u-1-5
                    .dmt-u-2-5
                        .tests-grid-content .dmt-u-2-5
                    .dmt-u-2-5
                        .tests-grid-content .dmt-u-2-5
                .dmt-g-r
                    .dmt-u-1-6
                        .tests-grid-content .dmt-u-1-6
                    .dmt-u-1-3
                        .tests-grid-content .dmt-u-1-3
                    .dmt-u-1-2
                        .tests-grid-content .dmt-u-1-2

    p.wrapper Demeter is a CSS UI set with IE6/7/8 compatibility and responsive, Licensed under MIT. Contact: mr5.simple@gmail.com