meta(charset='utf-8')
meta(http-equiv="content-type", content="text/html; charset=utf-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no")

link(rel="stylesheet", href="../css/demeter.css")
link(rel="stylesheet", href="./tests.css")
link(rel="stylesheet", href="../css/prettify.css")

script(src="../js/prettify.min.js")
script(src="http://g.tbcdn.cn/kissy/k/1.4.2/seed.js", data-config="{combine:true}")
script(src="../js/demeter-demo.js")