div#tests_nav
    ul.menu.menu-horizontal.menu-inverse.wrapper
        li.menu-item.active
            a DEMETER
        li.menu-item(id="J_nav_typo")
            a(href="typo.html") 排版
        li.menu-item(id="J_nav_buttons")
            a(href="buttons.html") 按钮
        li.menu-item(id="J_nav_forms")
            a(href="forms.html") 表单
        li.menu-item(id="J_nav_grids")
            a(href="grids.html") 栅格
        li.menu-item(id="J_nav_menus")
            a(href="menus.html") 菜单
        li.menu-item(id="J_nav_tables")
            a(href="tables.html") 表格
        li.menu-item(id="J_nav_components")
            a(href="components.html") 组件
        li.menu-item
            a(href="https://github.com/mr5/demeter", target="_blank") GITHUB