div#tests_nav
    ul.menu.menu-horizontal.menu-inverse.wrapper
        li.menu-item(id="J_nav_buttons")
            a.menu-item(href="buttons.html") 按钮
        li.menu-item(id="J_nav_forms")
            a.menu-item(href="forms.html") 表单
        li.menu-item(id="J_nav_grids")
            a.menu-item(href="grids.html") 栅格
        li.menu-item(id="J_nav_menus")
            a.menu-item(href="menus.html") 菜单
        li.menu-item(id="J_nav_tables")
            a.menu-item(href="tables.html") 表格
        li.menu-item(id="J_nav_components")
            a.menu-item(href="components.html") 组件