@charset "utf-8";
// =============================================================================
// Variables for demeter
// =============================================================================



// -----------------------------------------------------------------------------
// for Normalize.css
// -----------------------------------------------------------------------------
// Set to true if you want to add support for IE6 and IE7
// Notice: setting to true might render some elements
// slightly differently than when set to false
//$legacy_support_for_ie: true !default; // Used also in Compass


// Set the default font family here so you don't have to override it later
$font-family-base: Helvetica Neue, Microsoft Yahei,Hiragino Sans GB,WenQuanYi Micro Hei,sans-serif !default;

//$normalize_headings: true !default;

$font-size-base: 13px;

$radius-base: 2px;
//$font-size-h1:            floor(($font-size-base * 2.6)) !default; // ~35px
//$font-size-h2:            floor(($font-size-base * 2.15)) !default; // ~29px
//$font-size-h3:            ceil(($font-size-base * 1.7)) !default; // ~23px
//$font-size-h4:            ceil(($font-size-base * 1.25)) !default; // ~17px
//$font-size-h5:            ceil(($font-size-base * 1.07)) !default;
//$font-size-h6:            ceil(($font-size-base * 0.85)) !default; // ~12px

//$h1_margin: 0.57em 0 !default;
//$h2_margin: 0.63em 0 !default;
//$h3_margin: 1em 0 !default;
//$h4_margin: 1.33em 0 !default;
//$h5_margin: 1.67em 0 !default;
//$h6_margin: 2.33em 0 !default;

$brand-primary:#1975c3;
$brand-primary-text:white;
$brand-danger:#ed5567;
$brand-danger-text:white;
$brand-success:#33b07d;
$brand-success-text:white;
$brand-info:#02a4c6;
$brand-info-text:white;
$brand-warning:#ff6f3d;
$brand-warning-text:white;
$brand-dake:#656d78;
$brand-dake-text:white;
$brand-dakeLight:#ccd0d8;
$brand-dakeLight-text:#656d78;
$brand-purple:#967adc;
$brand-purple-text:white;

$body-background: #f5f7fa !default;
$font-color-base: #656d78;//darken(#656d78, 1%) !default;
$border-color-base: lighten(#c5c7ca, 5%);
$link-color: $brand-primary;
$link-color-hover: darken($brand-primary, 20%);
$font-line-height:        1.6 !default;



// forms
$form-label-margin-left:0.5em;
$input-height-base: 36px;
$button-height-base: $input-height-base;
////** By default, this inherits from the `<body>`.
//$headings-font-family:    inherit !default;
//$headings-font-weight:    400 !default;
//$headings-line-height:    1.1 !default;
//$headings-color: #4e545c !default;

$line-height-computed:    floor(($font-size-base * $font-line-height)) !default; // ~20px

// Extra small screen / phone
// Note: Deprecated $screen-xs and $screen-phone as of v3.0.1
$screen-xs:                  480px !default;
$screen-xs-min:              $screen-xs !default;
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
// Note: Deprecated $screen-sm and $screen-tablet as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
// Note: Deprecated $screen-md and $screen-desktop as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
// Note: Deprecated $screen-lg and $screen-lg-desktop as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;


// -----------------------------------------------------------------------------
// for Normalize.css
// -----------------------------------------------------------------------------

//$brand_primary:'';
//$text-muted:#999 !default;
//$headings-small-color: #999;


