// =============================================================================
// Variables for demeter
// =============================================================================



// -----------------------------------------------------------------------------
// for Normalize.css
// -----------------------------------------------------------------------------
// Set to true if you want to add support for IE6 and IE7
// Notice: setting to true might render some elements
// slightly differently than when set to false
$legacy_support_for_ie: true !default; // Used also in Compass


// Set the default font family here so you don't have to override it later
$normalized_font_family: Helvetica Neue, Microsoft Yahei,Hiragino Sans GB,WenQuanYi Micro Hei,sans-serif !default;

$normalize_headings: true !default;

$h1_font_size: 2em !default;
$h2_font_size: 1.5em !default;
$h3_font_size: 1.17em !default;
$h4_font_size: 1em !default;
$h5_font_size: 0.83em !default;
$h6_font_size: 0.75em !default;

$h1_margin: 0.67em 0 !default;
$h2_margin: 0.83em 0 !default;
$h3_margin: 1em 0 !default;
$h4_margin: 1.33em 0 !default;
$h5_margin: 1.67em 0 !default;
$h6_margin: 2.33em 0 !default;

$background: #f5f7fa !default;
$color: #656d78 !default;
$color_h: #4e545c;
$font_base_size: 13px;

// -----------------------------------------------------------------------------
// for Normalize.css
// -----------------------------------------------------------------------------

$brand_primary:'';